.editor-form {
  & button {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid var(--navy);
    padding: 0.1rem 0.5rem;
    margin-top: 1rem;

    /* &:focus-visible {
      outline: 1px solid var(--navy);
      outline-offset: 1px;
    } */
  }

  & button[type="submit"] {
    background-color: var(--navy);
    color: #fff;
  }
}

.group {
  display: flex;
  gap: 1rem;

  & > *:first-child {
    margin-right: auto;
  }
}

.period input {
  width: 20ch;
}
