.editor {
  flex-grow: 2;
  flex-basis: 250px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  & > * {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 10px 0 gray;
    padding: 1rem;
  }
}
