.output {
  background-color: #fff;
  box-shadow: 0 0 10px 0 gray;
  flex-grow: 1;
  border-radius: var(--radius);
  align-self: flex-start;
  min-height: 30rem;
  max-width: 600px;
  min-width: 300px;
}

.heading {
  background-color: var(--navy);
  color: var(--light);
  padding: 2rem;
  font-style: normal;
  border-radius: var(--radius) var(--radius) 0 0;

  & li {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  & i {
    font-size: 1rem;
  }
}

.name {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.contacts {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  font-weight: 300;
}

.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
