.output {
  background-color: #fff;
  box-shadow: 0 0 10px 0 gray;
  flex-grow: 2;
  border-radius: var(--radius);
}

.heading {
  background-color: var(--navy);
  color: var(--light);
  padding: 2rem;
  font-style: normal;
  border-radius: var(--radius) var(--radius) 0 0;
}

.name {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.contacts {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  font-weight: 300;
}

.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
