.editor-section {
  display: flex;
  flex-direction: column;
}
/* 
.editor-section__title {
  margin-bottom: 1rem;
}

.editor-section__form {
  display: flex;
  flex-direction: column;
} */

.section-title {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.add-button {
  background-color: transparent;
  color: var(--navy);
  align-self: center;
  border-radius: 100vmax;
  border: 1px solid var(--navy);
  padding: 0.2rem 0.5rem;
  margin-top: 1rem;
}

/* .expand-section {
  background-color: transparent;
  border: none;
} */
