@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
:root {
  font-family: "Roboto", sans-serif;
  --navy: #0e374e;
  --light: #f1f1f1;
  --gray: #eef1f2;
  --light-gray: #f3f4f6;
  /*   --green-gradient-darker: #0b4940;
  --green-gradient-lighter: #0b6e30;
  --light-yellow: #fcfa00;
  --dark-yellow: #d1be00;
  --green: #01573e;
  --dark-green: #00241a;
  --azure: #1c8a71;
  --olive: #93b000;
  --dirt: #6c6101; */
}
* {
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-gray);
  color: var(--navy);
}

.app-container {
  margin: 2rem auto;
  padding-inline: 2rem;
  max-width: 1000px;
  /* min-height: 100vh;
  min-height: 100dvh; */
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  & > * {
    flex-grow: 1;
  }
}

.editor-section {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 gray;
  padding: 1rem;
}

.editor-section__title {
  margin-bottom: 1rem;
}

.editor-section__form {
  display: flex;
  flex-direction: column;
}
